@using Microsoft.AspNetCore.Components.Authorization
@using PasswordManager.Web.Components.Layout

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Страница не найдена</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <h1>404 — Страница не найдена</h1>
        </LayoutView>
    </NotFound>
</Router>
